h1 {
    text-align: center;
}

h2{
    text-align: center;
}

.inputs{
    
    text-align: center;
}

.highlight {
	background-color: yellow;
    text-align: center;
}

.error {
	background-color: lightcoral;
	border-color: red;
}

#quote {
    text-align: center;
}

#message {
    text-align: center;
}